body {
    display: flex;
    justify-content: center;

    div.calculate {
        display: flex; 
        flex-wrap: wrap;
        width: 40%;
        justify-content: space-between;
    
        > input {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 10px;
            border-color: lightsteelblue;
            border-radius: 5px;
            border-style: solid;
            border-width: 2px;
            text-align: end;

            &:focus {
                outline: none;
            }
        }

        > div {
            width: calc(20%);
            box-sizing: border-box;
            margin-bottom: 2px;
            margin-right: 2px;

            &.cell {
                text-align: center;
                border: 1px solid lightsteelblue;
                border-radius: 5px; 
                padding: 1rem 0;

                &:nth-child(4n+4) {
                    margin-right: auto;
                }
                
                &:nth-child(4n+5) {
                    margin-right: 0;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 4px 0px black;
                    transition: .25s;
                }
            }
        }
    }
}